.footer__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 0.7;
}
