.cover {
  max-width: 1184px;
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    padding: 0;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 0;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-width: 320px;
    padding: 0;
    margin: 0 auto 64px;
  }
}
